<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      href="/static/images/icon/icon cek ctress.webp"
      type="image/png"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Utama</title>
    <link rel="stylesheet" href="static/css/halaman_utama.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>Welcome to the</h1>
        <h2>Student Stress Management Application</h2>
        <div class="characters">
          <img src="static/images/dokter.png" alt=" Doctor" class="character" />
        </div>
        <button class="btn-masuk" onclick="location.href='/home'">Masuk</button>
      </div>
    </div>
  </body>
</html>
