{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="/static/css/home.css" />
<div class="text-center my-4">
  <h2 class="text-uppercase fw-bold display-6 styled-heading">Kelompok 5</h2>
</div>
<div class="container">
  <div class="row justify-content-center gy-4">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="profile-card shadow">
        <div class="profile-image">
          <div class="image-container">
            <img
              src="/static/images/rizky.png"
              alt="Rizky Satrio Wibowo"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="profile-details text-center mt-3">
          <h5 class="fw-bold">Rizky Satrio Wibowo</h5>
          <p class="text-muted small">2259201005</p>
        </div>
      </div>
    </div>
    <!-- Additional Cards (2-6) -->
    <div class="col-md-4">
      <div class="profile-card shadow">
        <div class="profile-image">
          <div class="image-container">
            <img
              src="/static/images/ayub.png"
              alt="M.HAFIZH AL AYUBI"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="profile-details text-center mt-3">
          <h5 class="fw-bold">M.HAFIZH AL AYUBI</h5>
          <p class="text-muted small">2259201020</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card shadow">
        <div class="profile-image">
          <div class="image-container">
            <img
              src="/static/images/fatma.png"
              alt="Fatma aryati"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="profile-details text-center mt-3">
          <h5 class="fw-bold">Fatma aryati</h5>
          <p class="text-muted small">2259201013</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card shadow">
        <div class="profile-image">
          <div class="image-container">
            <img
              src="/static/images/icul.png"
              alt="Annisa Nur Wahidah"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="profile-details text-center mt-3">
          <h5 class="fw-bold">Annisa Nur Wahidah</h5>
          <p class="text-muted small">2259201003</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card shadow">
        <div class="profile-image">
          <div class="image-container">
            <img
              src="/static/images/stress_tips/nurul.png"
              alt="Nurul Nabila Fitri"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="profile-details text-center mt-3">
          <h5 class="fw-bold">Nurul Nabila Fitri</h5>
          <p class="text-muted small">2259201030</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card shadow">
        <div class="profile-image">
          <div class="image-container">
            <img
              src="/static/images/hera.png"
              alt="Hera Febriyanti"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="profile-details text-center mt-3">
          <h5 class="fw-bold">Hera Febriyanti</h5>
          <p class="text-muted small">2259201026</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/home.js" defer></script>

{% endblock %}
